body {
    &>header {
        &>#back-button {
            color: black;

            position: relative;

            top: calc(var(--header-height) + var(--header-margin));
            left: -20ch;
        }
    }

    &>main {
        text-align: left;
        text-wrap: balance;

        &>.name-input {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            align-items: center;
            column-gap: 1ch;

            width: 100%;

            margin: 0.5rem 0;

            &>:first-child {
                text-align: right;
            }

            &>input {
                text-align: center;

                width: 13ch;
                font-size: 1.2rem;
            }

            &>.name-validator-status {
                color: var(--accent-color-high-contrast);
                font-size: 0.8rem;
                width: max-content;
                text-align: left;

                anchor-name: --name-validator-status;
            }

            &>.name-validator-status.invalid {
                color: var(--warning-color);
                background-color: var(--accent-color-high-contrast);

                padding: .2rem 1ch;

                border-radius: 0.4rem;
            }

            &>#name-validation-popover {
                position-anchor: --name-validator-status;
                position: fixed;
                top: calc(anchor(bottom) + 0.4rem);
                left: anchor(left); 

                

                border: 0.17rem solid var(--accent-color-high-contrast);
            }
        }

        &>.info-paragraph {
            text-align: center;
        }
    }
}