:root {
    --project-height: 10rem;
}

body {
    &>main {
        &>p:first-of-type {
            margin-bottom: 0.5rem;
        }

        &>.make-new-project,
        &>.load-project {
            min-height: var(--project-height);

            cursor: pointer;
        }

        &>.make-new-project {
            &>img {
                image-rendering: pixelated;

                height: calc(var(--project-height) * 0.5);
                width: calc(var(--project-height) * 0.5);

                filter: var(--filter-to-text-color)
            }

            &:hover {
                background-color: var(--accent-color-low-contrast);
            }
        }

        &>.load-project {
            text-align: left;
            align-items: flex-start;
            justify-content: flex-start;

            overflow-y: hidden;

            padding: 0 0 1.1rem 0;

            height: max-content;

            &>.project-header {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                height: 5rem;

                background-color: var(--accent-color-low-contrast);

                padding: 0.7rem 5ch 0.7rem 3ch;
                margin-bottom: 0.4rem;

                &>.project-name {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    column-gap: 1ch;

                    &>h3 {
                        font-size: 1.5rem;
                    }
                }

                &>.meta-data {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    grid-template-rows: 1fr 1fr;

                    column-gap: 2ch;
                    row-gap: 0.2rem;

                    font-weight: 200;

                    &>*:nth-child(2n) {
                        justify-self: end;
                    }
                }
            }

            &>ul {
                list-style-type: none;
                font-size: 0.9rem;
                font-weight: 300;

                padding-left: 5ch;
                padding-right: 5ch;

                width: 100%;

                display: flex;
                flex-flow: column nowrap;
                gap: 0.3rem;
                row-gap: 0.5rem;

                &>li {
                    display: grid;
                    grid-template-columns: 6ch 2ch 1fr;
                    grid-template-rows: 1fr;
                    column-gap: 1ch;

                    &>:first-child {
                        text-align: center;
                    }
                }

                &>li.block-divider {
                    border-bottom: 0.1rem solid var(--accent-color-low-contrast);
                    border-radius: 100vw;
                }
            }

            &:hover {
                border-color: var(--accent-color-high-contrast);
            }
        }
    }
}