body {
    &>header {
        &>#back-button {
            color: black;

            position: relative;

            top: calc(var(--header-height) + var(--header-margin));
            left: -20ch;
        }
    }

    &>main {
        text-align: left;
        text-wrap: balance;

        &>.name-input {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            column-gap: 1ch;

            margin: 0.5rem 0;

            &>input {
                text-align: center;

                width: 13ch;
                font-size: 1.2rem;
            }
        }

        &>.info-paragraph {
            text-align: center;
        }
    }
}