:root {
    --project-height: 10rem;
}

body {
    &>main {
        &>p:first-of-type {
            margin-bottom: 0.5rem;
        }

        &>.make-new-project,
        &>.load-project {
            min-height: var(--project-height);

            &:hover {
                cursor: pointer;
            }
        }

        &>.make-new-project {
            &>img {
                image-rendering: pixelated;

                height: calc(var(--project-height) * 0.5);
                width: calc(var(--project-height) * 0.5);

                filter: var(--filter-to-text-color)
            }

            &:hover {
                background-color: var(--accent-color-low-contrast);
            }
        }

        &>.load-project {
            text-align: left;
            align-items: flex-start;
            justify-content: flex-start;

            overflow-y: hidden;

            padding: 0 0 1.1rem 0;

            height: max-content;

            &>.project-header {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                width: 100%;

                background-color: var(--accent-color-low-contrast);
                padding-top: 0.7rem;
                padding-left: 5ch;
                padding-right: 5ch;
                padding-bottom: 0.7rem;

                &>.project-name {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    column-gap: 1ch;

                    &>h3 {
                        font-size: 1.5rem;
                    }
                }

                &>.meta-data {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    gap: 0.2rem 1ch;

                    justify-self: end;

                    &>*:nth-child(2n) {
                        justify-self: end;
                    }
                }
            }

            &>ul {
                list-style-type: none;
                font-size: 0.9rem;

                padding-left: 5ch;
                padding-right: 5ch;

                &>li {
                    margin-bottom: 0.2rem;
                }
            }

            &:hover {
                border-color: var(--accent-color-high-contrast);
            }
        }
    }
}