body {
    &>header {
        &>#save-status {
            margin-left: 4ch;
        }

        &>#back-button {
            color: black;

            position: relative;

            top: calc(var(--header-height) + var(--header-margin));
            left: -28ch;
        }
    }

    &>main {
        text-align: left;
        text-wrap: balance;

        &>.name-input {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            align-items: center;
            column-gap: 1ch;

            width: 100%;

            margin: 0.5rem 0;

            &>:first-child {
                text-align: right;
            }

            &>input {
                text-align: center;

                width: 13ch;
                font-size: 1.2rem;
            }

            &>.name-validator-status {
                color: var(--accent-color-high-contrast);
                font-size: 0.8rem;
                width: max-content;
                text-align: left;

                anchor-name: --name-validator-status;
            }

            &>.name-validator-status.invalid {
                color: var(--warning-color);
                background-color: var(--accent-color-high-contrast);

                padding: .2rem 1ch;

                border-radius: 0.4rem;
            }

            &>#name-validation-popover {
                position-anchor: --name-validator-status;
                position: fixed;
                top: calc(anchor(bottom) + 0.4rem);
                left: anchor(left);

                border: 0.17rem solid var(--accent-color-high-contrast);
            }
        }

        &>.info-paragraph {
            text-align: center;
        }


        &>.blocks {
            margin-top: 1rem;

            width: 120%;

            &>.block {
                width: 100%;

                display: grid;
                text-align: left;
                justify-content: flex-start;

                padding-top: 0;

                &>.header {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    column-gap: 1ch;

                    &>.time-input {
                        width: 6ch;
                        text-align: center;
                    }
                }
            }
        }

        /* 
        &>.episodes {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 0.5rem;

            width: 150%;

            &>.info-header,
            &>.episode {
                display: grid;
                grid-template-columns: 14ch 1fr 1fr;
            }

            &>.info-header {
                padding-top: 1rem;

                position: sticky;
                top: calc(var(--header-height));
                
                background-color: var(--background-color);
                
                &>p {
                    width: 80%;
                    border-bottom: 0.05rem solid var(--text-color);
                }
            }

            &>.episode {
                &>.time-input {
                    width: 8ch;
                    text-align: center;
                }
            }
        } */
    }
}