:root {
    --text-color: #f2f2f2;
    --background-color: #2b2b2b;
    --accent-color-low-contrast: #1e1e1e;
    --accent-color-high-contrast: #ffd700;

    --header-height: 4rem;
    --footer-height: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    src: local("assets/BAHNSCHRIFT.TTF");
    font-family: "Bahnschrift", "Verdana", sans-serif;
    color: var(--text-color);
}

img {
    user-select: none;
}

button {
    appearance: none;
    border: none;
    background: none;

    margin-top: 1rem;
    padding: 0.5rem 1rem;

    border: 0.34rem solid var(--accent-color-low-contrast);
    border-radius: 0.6rem;

    background-color: var(--accent-color-low-contrast);
    color: var(--text-color);

    font-size: 0.9rem;

    &:hover {
        background-color: var(--accent-color-high-contrast);
        color: var(--background-color);

        font-weight: bold;
    }
}

.round-box {
    width: max-content;
    min-width: 20ch;

    margin: 0.5rem;
    padding: 1rem 2rem;

    border: var(--accent-color-low-contrast), 0.34rem solid;
    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--background-color);

    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;


    &>header {
        width: 100svw;
        max-width: 100%;
        height: var(--header-height);

        background-color: var(--accent-color-low-contrast);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &>.logo {
            height: calc(var(--header-height) * 0.8);

            margin-left: 3ch;
            margin-right: 1ch;
        }

        & p {
            text-align: left;
        }

        &>div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            &>.smaller {
                font-size: 0.9rem;
                font-weight: lighter;
            }
        }
    }

    &>main {
        height: calc(100svh - var(--header-height) - var(--footer-height));
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &>h1 {
            margin-top: 16rem;
        }

        &>h1+p {
            margin-bottom: 1rem;
        }

        &>.confirm-download {
            &>.progress-bar {
                width: 70%;
                height: 1rem;

                border: var(--accent-color-low-contrast), 4px solid;
                border-radius: .2rem;
            }

            &>#bottom-status-text {
                margin-top: 0.5rem;
                font-size: 0.8rem;
                font-weight: 400;
            }

            &>#download-progress-bar {
                background-image: linear-gradient(var(--accent-color-high-contrast), var(--accent-color-high-contrast));
                background-repeat: no-repeat;
            }
        }
    }

    &>footer {
        height: var(--footer-height);
    }
}