:root {
    --text-color: #f2f2f2;
    --background-color: #2b2b2b;
    --accent-light-contrast-color: #1e1e1e;
    --accent-high-contrast-color: #ffd700;

    --header-height: 4rem;
    --footer-height: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Bahnschrift", "Verdana", sans-serif;
    color: var(--text-color);
}

img {
    user-select: none;
}

body {
    background-color: var(--background-color);

    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;


    &>header {
        width: 100svw;
        max-width: 100%;
        height: var(--header-height);

        background-color: var(--accent-light-contrast-color);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &>.logo {
            height: calc(var(--header-height) * 0.8);

            margin-left: 3ch;
            margin-right: 1ch;
        }

        & p {
            text-align: left;
        }

        &>div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            &>.smaller {
                font-size: 0.9rem;
                font-weight: lighter;
            }
        }
    }

    &>main {
        height: calc(100svh - var(--header-height) - var(--footer-height));


        &>h1 {
            margin-top: 16rem;
        }

        &>.info-box {
            width: 40svw;
            height: 5rem;

            margin: 2rem;

            border: var(--accent-light-contrast-color), 5px solid;
            border-radius: 1rem;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            &>.progress-bar {
                width: 70%;
                height: 1rem;

                margin-top: .3rem;

                border: var(--accent-light-contrast-color), 4px solid;
                border-radius: .2rem;
            }

            &>#download-progress-bar {
                background-image: linear-gradient(var(--accent-high-contrast-color), var(--accent-high-contrast-color));
                background-repeat: no-repeat;
                background-size: 12%;
            }
        }
    }

    &>footer {
        height: var(--footer-height);
    }
}