@use "variables.scss" as *;
@use "mixins.scss" as *; // Functions to style everything easier

// Focus outline
a,
button,
input {
    @include outline();
}

a {
    // Reset
    all: unset;

    cursor: pointer;

    text-decoration: underline;    

    &:hover {
        color: var(--color-primary);
    }
}

button,
input[type="button"] {
    // Reset
    all: unset;

    @include padding(m, xl);
    @include border-radius(m);
    @include border(thick);
    
    cursor: pointer;

    background-color: var(--color-low);
    color: var(--color-fg);

    &:hover {
        @include bold();

        background-color: var(--color-primary);
        color: var(--color-low);
    }
}

// TODO - style inputs