@use "variables.scss" as *;
@use "mixins.scss" as *; // Functions to style everything easier

// Focus outline
a,
button,
input {
    @include outline();
}

a {
    // Reset
    all: unset;

    @include border-radius(xs); // For the outline when tabbing

    cursor: pointer;

    text-decoration: underline;

    &:hover {
        color: var(--color-primary);
    }
}

button,
input[type="button"] {
    // Reset
    all: unset;

    @include padding(m, xl);
    @include border-radius(m);
    @include border(thick);

    cursor: pointer;

    background-color: var(--color-low);
    color: var(--color-fg);

    &:hover {
        @include bold();

        background-color: var(--color-primary);
        color: var(--color-low);
    }
}

input[type="text"] {
    // Reset
    all: unset;

    @include outline();
    @include padding(m, l);
    @include border-radius(m);

    color: var(--color-fg);
    background-color: var(--color-low);

    cursor: text;

    &::-webkit-inner-spin-button {
        display: none;
        appearance: none;
    }
}

hr {
    @include hairline();
}