@use "variables.scss" as *;
@use "mixins.scss" as *; // Functions to style everything easier

// Focus outline
a,
button,
input {
    @include outline();
}

a {
    // Reset
    all: unset;

    @include border-radius(xs); // For the outline when tabbing

    cursor: pointer;

    text-decoration: underline;

    &:hover {
        color: var(--color-primary);
    }
}

button,
input[type="button"] {
    @include button();
    // // Reset
    // all: unset;

    // @include padding(m, xl);
    // @include border-radius(m);
    // @include border(thick);

    // cursor: pointer;

    // background-color: var(--color-low);
    // color: var(--color-fg);

    // &:hover {
    //     @include bold();

    //     background-color: var(--color-primary);
    //     color: var(--color-low);
    // }
}

input[type="text"] {
    // Reset
    all: unset;

    @include outline();
    @include padding(m, l);
    @include border-radius(m);

    color: var(--color-fg);
    background-color: var(--color-low);

    cursor: text;

    &::-webkit-inner-spin-button {
        display: none;
        appearance: none;
    }
}

input[type="file"] {
    // Reset
    all: unset;

    @include outline();
    @include border-radius(m);

    white-space: nowrap;
    text-overflow: ellipsis;

    &::-webkit-file-upload-button {
        visibility: hidden;
        display: none;
    }

    &::before {
        content: "Choose File";
        display: inline-block;

        white-space: nowrap;

        -webkit-user-select: none;
        user-select: none;
        
        cursor: pointer;

        @include padding(l, xl);
        @include border-radius(m);
        @include thin();
        
        margin-right: 1ch;

        background-color: var(--color-low);

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-low);
        }
    }
}

hr {
    @include hairline();
}