
// Variables
:root {
    --color-fg: #f2f2f2;
    --color-bg: #2b2b2b;
    --color-mid: gray;
    --color-low: #1e1e1e;
    --color-primary: #ffd700;
    --color-warning: #ff5b20;
    
    // Filter black images to colors
    --filter-to-color-fg: invert(100%) sepia(4%) saturate(402%) hue-rotate(291deg) brightness(114%) contrast(90%);
    --filter-to-color-bg: invert(13%) sepia(15%) saturate(0%) hue-rotate(294deg) brightness(99%) contrast(89%);
    --filter-to-color-low: invert(9%) sepia(0%) saturate(1964%) hue-rotate(138deg) brightness(98%) contrast(93%);
    --filter-to-color-primary: invert(79%) sepia(72%) saturate(1912%) hue-rotate(1deg) brightness(106%) contrast(104%);
}
