@import "tailwindcss";

:root {
  --color-flare-500: #f2f2f2;
  --color-flare-700: #b5b5b5;
  --color-abyss-200: #808080;
  --color-abyss-500: #1f1f1f;
  --color-abyss-800: #181818;
  --color-command-300: #e0b93a;
  --color-command-500: #c0962e;
  --color-red-alert-500: #ff5b20;
  --color-science-500: #2196f3;
  --color-spore-500: #4caf50;
}
@custom-variant light (&:is(.light *));
.light {
  --color-flare-500: #1f1f1f;
  --color-flare-700: #4a4a4a;
  --color-abyss-200: #d4d4d4;
  --color-abyss-500: #f0f0f0;
  --color-abyss-800: #fafafa;
  --color-command-300: #e6b944;
  --color-command-500: #bd942d;
  --color-red-alert-500: #d43c14;
  --color-science-500: #1976d2;
  --color-spore-500: #388e3c;
}

@theme {
  --color-flare-500: var(--color-flare-500);
  --color-flare-700: var(--color-flare-700);
  --color-abyss-200: var(--color-abyss-200);
  --color-abyss-500: var(--color-abyss-500);
  --color-abyss-800: var(--color-abyss-800);
  --color-command-300: var(--color-command-300);
  --color-command-500: var(--color-command-500);
  --color-red-alert-500: var(--color-red-alert-500);
  --color-science-500: var(--color-science-500);
  --color-spore-500: var(--color-spore-500);
}

@font-face {
  font-family: "Bahnschrift";
  src: url("/font/BAHNSCHRIFT.TTF") format("truetype");
}

@layer base {
  * {
    font-family: "Bahnschrift", sans-serif;
    @apply font-thin;
  }

  html {
    @apply min-h-screen max-h-screen h-screen;
  }

  body {
    @apply bg-abyss-500 text-flare-500 max-h-screen h-screen *:w-full flex flex-col items-center justify-start;

    & > main {
      @apply flex-1;
    }
  }

  a {
    @apply text-command-500 no-underline hover:underline underline-offset-2 cursor-pointer transition-all hover:text-command-300;
  }

  button {
    @apply select-none cursor-pointer transition-all flex flex-row items-center justify-start;

    &:not(.€icon) {
      @apply px-2 py-1 active:scale-95 bg-command-500 text-abyss-800 font-semibold light:font-normal rounded-sm hover:bg-command-300;
    }
    &.€icon {
      @apply hover:text-command-300;
    }
  }

  img {
    @apply select-none pointer-events-none;
  }

  input[type="text"] {
    @apply bg-abyss-800 text-flare-500 rounded-sm px-2 py-1;
  }

  label {
    @apply cursor-pointer;
  }

  label:has(& > input[type="text"]):not(.€no-style) {
    @apply bg-abyss-800 text-flare-500 rounded-sm px-2 py-1;
    & > input[type="text"] {
      @apply px-0;
    }
  }

  textarea {
    @apply bg-abyss-800 text-flare-500 rounded-sm px-2 py-1;
  }
}
