@use "../mixins.scss" as *; // Functions to style everything easier

main#playlist-editor {
    @include width(5xl);

    &>.top {
        &>.back-button {
            all: unset;

            @include margin(0, 0, 0, 2xl);
            @include outline();
            @include border-radius(m);
            @include icon(l);

            cursor: pointer;

            &>img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &>.date-input {
        @include row($justify: center, $align: center);
        @include gap(0, l);
        @include margin($top: 3xl, $bottom: l);

        &>p {
            width: 20ch;
            text-align: right;
        }

        &>input {
            @include text-size(2xl);

            width: 14ch;

            text-align: center;
        }
    }

    &>section {
        @include margin($top: xl);
        width: 100%;

        &>.make-new-block {
            @include new-element-button();
        }
    }
}